
.jeanluc {
  font-family: "JeanLucWeb-Bold", "JeanLucWeb-Thin";
}

.helvetica {
  font-family: "Helvetica",
  "Helvetica Neue",
  "HelveticaNeue-Light";
}

.arial {
  font-family: "Arial",
  "Arial Black",
  "Arial Narrow",
  "Arial Narrow Bold",
  "Arial Rounded MT Bold",
  "Arial Unicode MS";
}
