
@font-face {
    font-family: "Atlas Typewriter";
    src: url("./AtlasTypewriter-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Atlas Typewriter";
    src: url("./AtlasTypewriter-LightItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Atlas Typewriter";
    src: url("./AtlasTypewriter-Thin.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Atlas Typewriter";
    src: url("./AtlasTypewriter-ThinItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}
